@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

h1,
h2,
h3,
p,
body,
ul {
  padding: 0;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: hsl(226, 43%, 10%);
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
}
main {
  max-width: 320px;
}
.new {
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  margin-bottom: 1em;
}
.profile-header {
  background-color: hsl(246, 80%, 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 2rem;
  gap: 1rem;
  color: white;
}
.avatar {
  max-width: 70px;
  border: 3px solid white;
  border-radius: 50px;
}

h1 {
  font-size: 15px;
  margin-bottom: 0.5rem;
  font-weight: 300;
}
span {
  font-size: 20px;
}

ul {
  padding: 1em;
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
a {
  color: hsl(236, 100%, 87%);
  text-decoration: none;
}

.activity {
  margin-bottom: 1em;
}
.imgwork {
  padding: 1.5em;
  border-radius: 10px;
  background-position: right;
  background-repeat: no-repeat;
}
.Work {
  background-color: hsl(15, 100%, 70%);
  background-image: url("./images/icon-work.svg");
}

.Play {
  background-color: hsl(195, 74%, 62%);
  background-image: url("./images/icon-play.svg");
}

.Study {
  background-color: hsl(348, 100%, 68%);
  background-image: url("./images/icon-study.svg");
}

.Exercise {
  background-color: hsl(145, 58%, 55%);
  background-image: url("./images/icon-exercise.svg");
}

.Social {
  background-color: hsl(264, 64%, 52%);
  background-image: url("./images/icon-social.svg");
}

.Self {
  background-color: hsl(43, 84%, 65%);
  background-image: url("./images/icon-self-care.svg");
}

.detailss {
  position: relative;
  top: -0.5rem;
  padding: 1em;
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
}
.title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.prev {
  color: hsl(236, 100%, 87%);
}
.curr {
  font-size: 28px;
  font-weight: 300;
}

footer.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.display {
  display: none;
}
@media (min-width: 60rem) {
  main {
    width: 100%;
    max-width: 900px;
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;

  }
  .new {
    grid-column: 1;
    margin-bottom: 0;
    display: grid;
  }
  .profile-header {
    flex-direction: column;
    align-items: flex-start;
    padding: 2em ;
  }
  .detailss:hover {
    cursor: pointer;
  }
  /* li a:hover,
  li a:active {
    color: white;
  } */
.nav:focus,.nav:active,.active{
  color: #fff;
}
  h1 {
    font-size: 13px;
    margin-bottom: 1rem;
  }

  span {
    display: block;
  }
  ul {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
  }

  .link {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }
  .activity {
    margin: 0;
  }
  .detailss {
    padding: 2em 2em;
  }
  .ell:hover{
    filter: invert(0)brightness(100);
  }
  .detailss:hover {
    cursor: pointer;
    background-color: #313681;
  }
  .rate {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
  }
  .prev {
    margin-top: 1rem;
  }
}
